<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.ttransforme.toppers2"
        version = "2.0.1">
    <name>Toppers2</name>

    <description>
        Toppers Education Center
    </description>

    <author href="http://ttransforme.com" email="support@ttransforme.com">
        Support Team - Ttransforme
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.1.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    
    <access origin="http://www.topperseducation.com/webservices/ajax.php" />

    <icon src="icon.png" />
    <icon src="images/icon.png" />
   
</widget>
